{% extends "Portal/base.html" %}

{% block content %}
    <h1>功能列表</h1>

    <p>请选择需要进入的功能模块...</p>

    <div class="row">
        <div class="col-md-2"><a class="btn btn-primary btn-lg" href="/loop" role="button">整站抓取</a></div>
        <div class="col-md-2">
            <div class="dropdown">
                <button class="btn btn-primary btn-lg" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-expanded="true">
                    文字过滤
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/tianya">天涯论坛</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/baidu">百度贴吧</a></li>

                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <div class="dropdown">
                <button class="btn btn-primary btn-lg" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-expanded="true">
                    数据统计
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">世纪佳缘</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">豆瓣电影</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">豆瓣书籍</a></li>

                </ul>
            </div>
        </div>
    </div>
    <p class=""></p>
    <div class="row">
        <div class="col-md-2">
            <div class="dropdown">
                <button class="btn btn-primary btn-lg" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-expanded="true">
                    拓扑生成
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">人人好友</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">微博关注</a></li>

                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <div class="dropdown">
                <button class="btn btn-primary btn-lg" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-expanded="true">
                    新闻整合
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">电子科技大学</a></li>

                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <div class="dropdown">
                <button class="btn btn-primary btn-lg" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-expanded="true">
                    价格比较
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">书籍</a></li>

                </ul>
            </div>
        </div>
    </div>

{% endblock %}
